<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div><a class="nav-link" routerLinkActive="active" routerLink="poc1" href="#">POC-1</a></div>
        </li>
        <li class="nav-item">
            <div><a class="nav-link" routerLinkActive="active" routerLink="poc2" href="#">POC-2</a></div>
        </li>
        <li class="nav-item">
            <div><a class="nav-link" routerLinkActive="active" routerLink="poc3" href="#">POC-3</a></div>
        </li>
      </ul>
  </nav>